__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
models/
data/
!strategies/maxfunding/data/
!strategies/maxfunding/data/**
reports/
strategies/*/report/
**/report/
**/reports/
strategies/*/research/*
**/research/*
strategies/*/collector/bidask1-live/
logs/
strategies/preipoarb/preipo_arb_snapshot.json
.gitignore
.env
.venv/
.ipynb_checkpoints/
strategies/maxfunding/data/
