__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
models/
data/
!strategies/max_funding/data/
!strategies/max_funding/data/**
reports/
strategies/*/report/
**/report/
**/reports/
strategies/*/research
**/research/*
strategies/*/collector/bidask1-live/
strategies/*/backtest_data/
logs/
strategies/*/*_snapshot.json
.gitignore
.env
.venv/
.ipynb_checkpoints/
strategies/max_funding/data/
